/* MyPage.css */
body{ 
  margin:0;
  padding:0;
  background: linear-gradient(
    180deg,
    rgba(16, 15, 21, 1) 0%,
    rgba(23, 22, 28, 1) 46.39996290206909%,
    rgba(46, 43, 50, 1) 76.39996409416199%,
    rgba(77, 69, 64, 1) 100%
  );
  
  
}

.mypage-container{
  margin:0;
  padding:0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(16, 15, 21, 1) 0%,
    rgba(23, 22, 28, 1) 46.39996290206909%,
    rgba(46, 43, 50, 1) 76.39996409416199%,
    rgba(77, 69, 64, 1) 100%
  );
}

  

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  text-align: left;
  font-family: "Grandiflora One", cursive;
  padding:10px;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  width: 237px;
  height: 51px;

}

.right-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-menu ul li {
  display: inline;
  margin-right: 10px;
}

/* MyPage.css */

/* 기존 CSS 코드 */

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center; /* 수평 중앙 정렬 추가 */
  flex-direction: column; /* 세로로 아이템 정렬 */
  margin-top: 20px;
  margin-bottom: 30px;
}

.profile-image {
  width: 200px; /* 원하는 너비로 조정 */
  height: 200px; /* 원하는 높이로 조정 */
  border-radius: 50%;
  background-color: gray;
  margin-bottom: 20px;
}

.profile-info {
  text-align: center; /* 텍스트 가운데 정렬 */
  color:white;
  
}

.profile-info h2 {
  margin-bottom:5px;
  font-family: "Gowun Dodum", sans-serif;
}

.profile-info p {
  margin: 0; /* 기본 마진 제거 */
  font-family: "Gowun Dodum", sans-serif;
}

.edit-btn{
 color:white;
 text-decoration: none;
 margin:0px;
 border: 1.5px solid white; 
 padding:4px;
 
}

.divider-line {
  border: none;
  border-top: 1px solid #ccc; /* 선 색상과 굵기 지정 */
  margin: 60px 0px; /* 선의 위 아래 여백 조정 */
}

.button-container {
  display: flex;
  justify-content: center;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
  
}

.icon-button.active {
  border: 2.5px solid white; /* 클릭한 버튼의 테두리 두께 */
}


.icon-button img {
  width: 33px; /* Adjust size as needed */
  height: 33px; /* Adjust size as needed */
}

.star-container{
  height: 100%;
  margin: 0;
  overflow:scroll;
}

.canvas{
  display: block;
  width: 100%;
  height: 100%;
  
}